################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ServiceSearchActions/FileContentIndex/1cfe6664-5cd7-49e0-b11e-ea54e7cd3aac.vsidx
/.vs/ServiceSearchActions/FileContentIndex/306bfb37-04ce-4295-b3ba-2ad10b68dbf6.vsidx
/.vs/ServiceSearchActions/v17/.suo
/.vs/ServiceSearchActions/FileContentIndex/f76ed5d0-5ed1-410b-b3e0-7c6c43fc83f8.vsidx
/.vs/ServiceSearchActions/FileContentIndex/c77d488c-80d7-4a85-802b-16119d39f329.vsidx
/.vs/ServiceSearchActions/FileContentIndex/bacad43e-92b7-4365-ba74-8c0f4a3d6fc5.vsidx
/.vs/ServiceSearchActions/FileContentIndex/aa30052b-1c00-4193-9950-4b2efa9a96a2.vsidx
/.vs/ServiceSearchActions/FileContentIndex/3bdbe1e1-3787-4a5d-a522-6bf049f39f10.vsidx
